configuration{
    font: "Fira Code Nerd Font 12";
    modi: "run,drun";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-run: "";
    display-drun: "";
}

@theme "~/.config/rofi/catppuccin-larvent-mocha.rasi"

